<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Idle Games</h4>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Card price</th>
                                <th>Players</th>
                                <th>Prize Pool</th>
                                <th>Jackpot</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="game in idleGames" ng-click="go(game)" style="cursor: pointer;"
                                        ng-class="game.trClass">
                                    <td>{{game.id}}</td>
                                    <td>{{game.table.tableType}}</td>
                                    <td>{{game.table.cardPrice | satoshiToMBTC}}</td>
                                    <td>{{game.users.length}}</td>
                                    <td>{{game.prizePool | satoshiToMBTC}}</td>
                                    <td>{{game.table.jackpot | satoshiToMBTC}}</td>
                                    <td>{{game.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>