<script type="text/x-handlebars">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                {{#link-to 'games' tagName="li" href=false}}<a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Games</span></a>{{/link-to}}

                {{#if session.isAuthenticated}}
                    {{#link-to 'gamesHistory' tagName="li" href=false}}<a href="#"><i class="fa fa-history"></i><span class="nav-label">History</span></a>{{/link-to}}
                    {{#link-to 'settings' tagName="li" href=false}}<a href="#"><i class="fa fa-gear"></i><span class="nav-label">Settings</span></a>{{/link-to}}
                {{/if}}

                {{#link-to 'contact' tagName="li" href=false}}<a href="#"><i class="fa fa-envelope"></i><span class="nav-label">Contact</span></a>{{/link-to}}
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        {{#link-to 'games' }} <i class="fa fa-dashboard"></i> Games{{/link-to}}
                    </li>

                    {{#if session.isAuthenticated}}
                    <li>
                        {{#link-to 'wallet'}} <i class="fa fa-btc"></i> {{satoshiToBits session.currentUser.balance}} Bits{{/link-to}}
                    </li>
                    {{/if}}

                    <li class="dropdown">
                        {{#if session.isAuthenticated}}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> {{session.currentUser.username}} <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                {{#link-to 'settings' }} <i class="fa fa-gear fa-fw"></i>Settings{{/link-to}}
                            </li>
                            <li>
                                {{#link-to 'wallet' }} <i class="fa fa-btc fa-fw"></i>Wallet{{/link-to}}
                            </li>
                            <li>
                                {{#link-to 'withdraw' }} <i class="fa fa-share fa-fw"></i>Withdraw{{/link-to}}
                            </li>
                            <li>
                                <a href="#" {{ action 'invalidateSession' }}> <i class="fa fa-sign-out fa-fw"></i>Logout</a>
                            </li>
                        </ul>
                        {{else}}
                        {{#link-to 'login'}} <i class="fa fa-sign-in fa-fw"></i>Login{{/link-to}}
                        {{/if}}
                    </li>
                </ul>
            </nav>

        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-md-12">
                <h2>CoinBingo</h2>
            </div>
        </div>
        {{outlet}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="loading">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</script>


<script type="text/x-handlebars" data-template-name="settings">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4><strong>Account Settings</strong></h4>
                    </div>
                    <div class="ibox-content">
                        {{#if errorMessage}}
                        <div class="alert alert-danger animated bounce">
                            <strong>Saving settings failed:</strong> {{errorMessage}}
                        </div>
                        {{/if}}
                        {{#if successMessage}}
                        <div class="alert alert-success">
                            <strong>Settings saved!</strong>
                        </div>
                        {{/if}}
                        <form accept-charset="UTF-8" role="form"
                        {{action 'saveSettings' on='submit'}}>
                        <fieldset>
                            <div class="form-group">
                                <label for="clientSeed">Client seed</label>
                                {{input id='clientSeed' name='clientSeed' placeholder='Enter client seed'
                                class='form-control' value=clientSeed}}
                                <p class="help-block">
                                    Your client seed will be used for the random number generator to ensure fairness. Input anything you like.
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                {{input id='email' name='email' placeholder='Enter email' class='form-control' value=email}}
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                {{input id='password' name='password' placeholder='Enter Password' class='form-control'
                                type='password' value=password}}
                                <p class="help-block">
                                    Please set a password before logging out. Without your password you cannot login if you accidentally delete your cookies.
                                    If have set a password and want to keep it, just leave the box empty.
                                </p>
                            </div>
                            <br>
                            <button id="saveSettings" type="submit" class="btn btn-primary ladda-button"
                                    data-style="expand-left">
                                <span class="ladda-label">Save Settings</span>
                            </button>
                        </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="gamesHistory">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <p>This is a list of your latest games you've played in. Click on them to view the result!</p>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>Games History</h4>
                    </div>
                    <div class="ibox-content">
                        {{#if lastPersonalGames}}
                        <div class="table-responsive">
                            <table class="table table-hover games-list">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Watch</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each game in lastPersonalGames itemController='game'}}
                                {{#link-to 'game' game.id tagName='tr' style='cursor: pointer;'}}
                                    <td>{{game.id}}</td>
                                    <td>{{convertDateToLocale game.updatedAt}}</td>
                                    <td>{{game.gameStatus}}</td>
                                    <td>
                                        {{#link-to 'game' id class='btn btn-sm btn-primary'}}
                                        <i class="fa fa-arrow-circle-right"></i>
                                        Watch
                                        {{/link-to}}
                                    </td>
                                {{/link-to}}
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{else}}
                        <p>No games played yet.</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="games">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Total users</span>
                            <h3 class="font-bold" id="users"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bar-chart-o fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Cards bought</span>
                            <h3 class="font-bold" id="cardsBought"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-trophy fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Total wagered</span>
                            <h3 class="font-bold" id="wagered"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-share fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Total paid</span>
                            <h3 class="font-bold" id="payout"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-star fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <span>Given away</span>
                            <h3 class="font-bold" id="promotion"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>Games</h4>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-hover games-list">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Card price</th>
                                    <th>Players</th>
                                    <th>Prize Pool</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each idleGames itemController='game'}}
                                    {{#link-to 'game' id tagName='tr' class=tableClass style='cursor: pointer'}}
                                    <td>{{identifier}}</td>
                                    <td>{{table.tableType}}</td>
                                    <td>{{cardPrice}} Bits</td>
                                    <td>{{amountOfPlayers}} / {{table.minimumPlayers}}</td>
                                    <td>{{prizePool}} Bits</td>
                                    <td>{{gameStatus}}</td>
                                    {{#if userParticipating}}
                                        <td>
                                            {{#link-to 'game' id class='btn btn-sm btn-warning'}}
                                            <i class="fa fa-arrow-circle-right"></i>
                                            Continue
                                            {{/link-to}}
                                        </td>
                                    {{else}}
                                        <td>
                                            {{#link-to 'game' id class='btn btn-sm btn-primary'}}
                                            <i class="fa fa-arrow-circle-right"></i>
                                            Join
                                            {{/link-to}}
                                        </td>
                                    {{/if}}
                                    {{/link-to}}
                                {{/each}}

                                {{#each playingGames itemController='game'}}
                                    {{#link-to 'game' id tagName='tr' class=tableClass style='cursor: pointer'}}
                                    <td>{{identifier}}</td>
                                    <td>{{table.tableType}}</td>
                                    <td>{{cardPrice}} Bits</td>
                                    <td>{{amountOfPlayers}} / {{table.minimumPlayers}}</td>
                                    <td>{{prizePool}} Bits</td>
                                    <td>{{gameStatus}}</td>
                                    {{#if userParticipating}}
                                    <td>
                                        {{#link-to 'game' id class='btn btn-sm btn-warning'}}
                                        <i class="fa fa-arrow-circle-right"></i>
                                        Continue
                                        {{/link-to}}
                                    </td>
                                    {{else}}
                                    <td>
                                        {{#link-to 'game' id class='btn btn-sm btn-primary'}}
                                        <i class="fa fa-arrow-circle-right"></i>
                                        Join
                                        {{/link-to}}
                                    </td>
                                    {{/if}}
                                    {{/link-to}}
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>This list shows the latest finished games. Everyone can watch!</p>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>Latest Finished Games</h4>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-hover games-list">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Card price</th>
                                    <th>Players</th>
                                    <th>Prize Pool</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each latestFinishedGames itemController='game'}}
                                {{#link-to 'game' id tagName='tr' class=tableClass style='cursor: pointer'}}
                                <td>{{identifier}}</td>
                                <td>{{table.tableType}}</td>
                                <td>{{cardPrice}} Bits</td>
                                <td>{{amountOfPlayers}} / {{table.minimumPlayers}}</td>
                                <td>{{prizePool}} Bits</td>
                                <td>{{convertDateToLocale updatedAt}}</td>
                                <td>
                                    {{#link-to 'game' id class='btn btn-sm btn-primary'}}
                                    <i class="fa fa-arrow-circle-right"></i>
                                    Watch
                                    {{/link-to}}
                                </td>
                                {{/link-to}}
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/x-handlebars" data-template-name="game">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div style="text-align: center;">
                    <span style="font-size: 40px">{{latestNumber}}&nbsp;&nbsp;</span>
                    <span style="font-size: 20px">
                        {{#each number in last10Numbers}}
                        {{number}}&nbsp;
                        {{/each}}
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Drawn numbers:</h3>
                <ul class="pagination">
                    {{#each number in numbers itemController='number'}}
                    <li {{bind-attr class='number.isActive:active'}}><a>{{number.model}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        {{outlet modal}}

        <div class="row">
            <div class="col-md-12">
                {{#if errorMessage}}
                <div class="alert alert-danger animated bounce">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Error:</strong> {{errorMessage}}
                </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="todo-list">
                    <li>
                        <i class="fa fa-question fa-fw"></i>
                        <abbr data-toggle="tooltip" title="The game status">Status</abbr>
                        <span class="badge badge-info pull-right">{{gameStatus}}</span>
                    </li>
                    <li>
                        <i class="fa fa-btc fa-fw"></i>
                        <abbr data-toggle="tooltip" title="The first one to hit BINGO will win this amount">Bingo prize</abbr>
                        <span class="badge badge-info pull-right">{{bingoPrize}} Bits</span>
                    </li>
                    <li>
                        <i class="fa fa-btc fa-fw"></i>
                        <abbr data-toggle="tooltip" title="The first one to hit the pattern will win this amount">Pattern prize</abbr>
                        <span class="badge badge-info pull-right">{{patternPrize}} Bits</span>
                    </li>
                    <li>
                        <i class="fa fa-users fa-fw"></i>
                        <abbr data-toggle="tooltip" title="Left shows the current amount of players. Right shows the minimum to start">Players</abbr>
                        <span class="badge badge-info pull-right">{{amountOfPlayers}} / {{table.minimumPlayers}}</span>
                    </li>
                </ul>
                <div>
                    {{countDown}}
                </div>
                <br/>
                {{#if session.isAuthenticated}}
                    {{#if canBuyCards}}
                    <button id="buyCardButton" class="btn btn-red btn-danger btn-block ladda-button" data-style="expand-left" {{action 'buyCard'}}>
                    <span class="ladda-label">Buy Card</span> (<i class="fa fa-btc"></i>{{cardPrice}} Bits)
                    </button>
                    {{else}}
                    <button class="btn btn-danger btn-block disabled">Buy Card</button>
                    {{/if}}
                {{/if}}
                <br/>
                {{#if finished}}
                <button class="btn btn-primary btn-block ladda-button" data-style="expand-left" {{action 'showWinnerModal'}}>
                <span class="ladda-label">Show Winners</span>
                </button>
                {{else}}
                <button class="btn btn-primary btn-block disabled">Show Winners</button>
                {{/if}}
                <br/>
                <button id="game-help-button" class="btn btn-info btn-block" data-toggle="tooltip" title="Click this button to show explanation windows for each element! You turn them back off simply by clicking this button once again.">Help!</button>
                <br/>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                            <h4>Players</h4>
                    </div>
                    <div class="ibox-content">
                        <ul class="list-group clear-list m-t">
                            {{#each player in players}}
                            <li class="list-group-item">{{player.username}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 help" data-toggle="popover" data-placement="top" data-html="true" data-content="All your cards appear here.<br/> Numbers marked in <span class='yellow-bg'> orange</span> show the current pattern.<br/>Numbers marked in <span class='navy-bg'> green</span> have been drawn already.">
                {{#each bingoCard in ownBingoCards itemController='bingoCard'}}
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-card">
                            <tbody>
                            {{#each row in bingoCard.squares}}
                            <tr>
                                {{#each number in row itemController='number'}}
                                {{#if number.pattern}}
                                <td
                                {{bind-attr class='number.isActive:active:pattern'}}>{{number.number}}</td>
                                {{else}}
                                <td
                                {{bind-attr class='number.isActive:active'}}>{{number.number}}</td>
                                {{/if}}
                                {{/each}}
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/each}}
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 help" data-toggle="popover" data-placement="top" data-html="true" data-content="Here you can chat with other players in this game.">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>Game Chat</h4>
                    </div>
                    <div id="chat">
                        <div class="ibox-content chat-widget">
                            {{#each message in lastMessages itemController='message'}}
                            {{#if message.isSystemMessage}}
                                <div class="media-body alert alert-info">
                                    <h5 class="media-heading">
                                        <span class="small pull-right">{{convertDateToLocale message.createdAt}}</span>
                                    </h5>
                                    <p>{{message.body}}</p>
                                </div>
                            {{else}}
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{message.user}}</strong>
                                            <span class="small pull-right">{{convertDateToLocale message.createdAt}}</span>
                                        </h5>
                                        <p>{{message.body}}</p>
                                    </div>
                                </div>
                            {{/if}}
                            {{/each}}
                        </div>
                        <div>
                            {{#if session.isAuthenticated}}
                                <div class="input-group">
                                    {{input action='sendMessage' id='message' name='message' placeholder='Enter message'
                                    class='form-control' value=message}}
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-success" {{action 'sendMessage'}}>Send</button>
                                    </span>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</script>

<script type="text/x-handlebars" data-template-name="login">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Register on Coin Bingo</h5>
                    </div>
                    <div class="ibox-content">
                        {{#if errorMessage}}
                        <div class="alert alert-danger animated bounce">
                            <strong>Login failed:</strong> {{errorMessage}}
                        </div>
                        {{/if}}
                        <form accept-charset="UTF-8" role="form" {{action 'authenticate' on='submit'}}>
                        <fieldset>
                            <div class="form-group">
                                {{input id='username' name='username' placeholder='Enter Username' class='form-control'
                                value=username}}
                            </div>
                            <div class="form-group">
                                {{input id='password' name='password' placeholder='Enter Password' class='form-control'
                                type='password' value=password}}
                            </div>
                            <br>
                            <button id="loginButton" type="submit" class="btn btn-success ladda-button"
                                    data-style="expand-left">
                                <span class="ladda-label">Sign In</span>
                            </button>
                            <div class="pull-right">
                                {{#link-to 'register' class='btn btn-primary' }}Go To Register{{/link-to}}
                            </div>
                        </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="register">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Register on Coin Bingo</h5>
                    </div>
                    <div class="ibox-content">
                        {{#if errorMessage}}
                        <div class="alert alert-danger animated bounce">
                            <strong>Registration failed:</strong> {{errorMessage}}
                        </div>
                        {{/if}}
                        <form accept-charset="UTF-8" role="form"
                        {{action 'register' on='submit'}}>
                        <div class="form-group">
                            <label for="username">Username</label>
                            {{input id='username' name='username' placeholder='Username' class='form-control'
                            value=username}}
                        </div>
                        <button id="registerButton" type="submit" class="btn btn-success ladda-button"
                                data-style="expand-left">
                            <span class="ladda-label">Create your account</span>
                        </button>
                        <div class="pull-right">
                            {{#link-to 'login' class='btn btn-primary' }}Go To Login{{/link-to}}
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="withdraw">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4><strong>Withdraw</strong></h4>
                    </div>
                    <div class="ibox-content">
                        {{#if errorMessage}}
                        <div class="alert alert-danger animated bounce">
                            <strong>Error:</strong> {{errorMessage}}
                        </div>
                        {{/if}}
                        <form accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="withdrawalAddress">Withdrawal Address</label>
                                {{input class='form-control' id='withdrawalAddress' placeholder='Enter your receiving address here' value=withdrawalAddress}}

                            </div>
                            <div class="form-group">
                                <label for="withdrawalAmount">Withdrawal Amount</label>
                                <div class="pull-right"><small>Balance: {{satoshiToBits session.currentUser.balance}} Bits</small></div>
                                {{input class='form-control' id='withdrawalAmount' value=withdrawalAmount}}
                                <div><small>Minimum withdrawal: 100 Bits</small></div>
                                <p class="help-block">Please note we substract a 100 Bits miners fee.</p>
                            </div>
                            <button id="withdrawButton" class="btn btn-danger ladda-button" data-style="expand-left" {{action 'withdraw'}}>
                            <span class="ladda-label">Withdraw</span>
                            </button>
                        </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-md-offset-2">

    </div>
</script>

<script type="text/x-handlebars" data-template-name="wallet">
    <div class="wrapper wrapper-content animated fadeIn">
        {{outlet}}
        <div class="row">
            <div class="col-md-4">
            {{#if session.currentUser.depositAddress}}
                <label for="depositAddress">Deposit Address</label>
                {{input class='form-control' id='depositAddress' readonly=true value=session.currentUser.depositAddress}}
                <p class="help-block">You can deposit to this address and play right away! After one confirmation you can {{#link-to 'withdraw'}}withdraw{{/link-to}} your coins.</p>
            {{else}}
                Due to a server error we couldn't generate a deposit address for you. Please try again in a couple minutes.
            {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>Withdrawals</h4>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each withdrawal in last20userWithdrawals}}
                                <tr class="animated fadeInLeft">
                                    <td>{{withdrawal.id}}</td>
                                    <td>{{convertDateToLocale withdrawal.createdAt}}</td>
                                    <td>{{satoshiToBits withdrawal.amount}} Bits</td>
                                    <td>{{withdrawal.withdrawalType}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>Deposits</h4>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each deposit in last20userDeposits}}
                                <tr class="animated fadeInLeft">
                                    <td>{{deposit.id}}</td>
                                    <td>{{convertDateToLocale deposit.createdAt}}</td>
                                    <td>{{satoshiToBits deposit.amount}} Bits</td>
                                    <td>{{deposit.depositType}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="winnerModal">
    <div class="modal-header">
        <button type="button" class="close"
        {{action close target="view"}}>&times;</button>
        <h3>We have some winners!</h3>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Winner</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Card</th>
                </tr>
                </thead>
                <tbody>
                {{#each winner in gameWinners}}
                <tr>
                    <td>{{winner.user.username}}</td>
                    <td>{{winner.winnerType}}</td>
                    <td>{{satoshiToBits winner.amount}} Bits</td>
                    <td>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-card">
                                    <tbody>
                                    {{#each row in winner.bingoCard.squares}}
                                    <tr>
                                        {{#each number in row}}
                                        {{#if number}}
                                        <td>{{number}}</td>
                                        {{else}}
                                        <td>{{number}}</td>
                                        {{/if}}
                                        {{/each}}
                                    </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" {{action close}}>Close</a>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="modal_layout">
    <div class="modal-backdrop fade">&nbsp;</div>
    <div class="modal fade show">
        <div class="modal-dialog">
            <div class="modal-content">
                {{yield}}
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="contact">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>Contact Us!</h4>
                    </div>
                    <div class="ibox-content" id="uservoice">
                        <p>Please use the form in the right bottom of your browser to contact us.</p>
                        <p>You can use it on any page and even include a screenshot!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>