<script type="text/x-handlebars">

    <nav class="navbar-top" role="navigation">

    <!-- begin BRAND HEADING -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
            <i class="fa fa-bars"></i> Menu
        </button>
        <!--<div class="navbar-brand">-->
            <!--<a href="index.html">Bitcoin Bingo</a>-->
        <!--</div>-->
    </div>
    <!-- end BRAND HEADING -->

    <div class="nav-top">

    <!-- begin LEFT SIDE WIDGETS -->
    <ul class="nav navbar-left">

    </ul>
    <!-- end LEFT SIDE WIDGETS -->

    <!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
    <ul class="nav navbar-right">

    <!-- begin ALERTS DROPDOWN -->
    <!--<li class="dropdown">-->
        <!--<a href="#" class="alerts-link dropdown-toggle" data-toggle="dropdown">-->
            <!--<i class="fa fa-bell"></i>-->
            <!--<span class="number">9</span><i class="fa fa-caret-down"></i>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu dropdown-scroll dropdown-alerts">-->

            <!--&lt;!&ndash; Alerts Dropdown Heading &ndash;&gt;-->
            <!--<li class="dropdown-header">-->
                <!--<i class="fa fa-bell"></i> 9 New Alerts-->
            <!--</li>-->

            <!--&lt;!&ndash; Alerts Dropdown Body - This is contained within a SlimScroll fixed height box. You can change the height using the SlimScroll jQuery features. &ndash;&gt;-->
            <!--<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><li id="alertScroll" style="overflow: hidden; width: auto; height: 200px;">-->
                <!--<ul class="list-unstyled">-->

                <!--</ul>-->
            <!--</li><div class="slimScrollBar" style="background-color: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>-->

            <!--&lt;!&ndash; Alerts Dropdown Footer &ndash;&gt;-->
            <!--<li class="dropdown-footer">-->
                <!--<a href="#">View All Alerts</a>-->
            <!--</li>-->

        <!--</ul>-->
        <!--&lt;!&ndash; /.dropdown-menu &ndash;&gt;-->
    <!--</li>-->
    <!-- /.dropdown -->
    <!-- end ALERTS DROPDOWN -->

    <!-- begin USER ACTIONS DROPDOWN -->
        
    <li>
        {{#link-to 'wallet'}} <i class="fa fa-btc"></i>  {{controllers.currentUser.balance}} mBTC {{/link-to}}
    </li>
    <li class="dropdown">
        {{#if session.isAuthenticated}}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> {{controllers.currentUser.username}} <i class="fa fa-caret-down"></i>
        </a>

        <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#">
                        <i class="fa fa-gear"></i> Settings
                    </a>
                </li>
                <li>
                    <a href="#" {{ action 'invalidateSession' }}> <i class="fa fa-sign-out"></i> Logout</a>
                </li>
        </ul>
        {{else}}
            {{#link-to 'login'}} <i class="fa fa-sign-in"></i> Login{{/link-to}}
        {{/if}}
        <!-- /.dropdown-menu -->
    </li>
    <!-- /.dropdown -->
    <!-- end USER ACTIONS DROPDOWN -->

    </ul>
    <!-- /.nav -->
    <!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

    </div>
    <!-- /.nav-top -->
    </nav>

    <nav class="navbar-side" role="navigation">
    <div class="navbar-collapse sidebar-collapse collapse">
    <ul id="side" class="nav navbar-nav side-nav">
        {{#if session.isAuthenticated}}
        <li class="side-user hidden-xs">
            <p class="name tooltip-sidebar-logout">
                {{controllers.currentUser.username}}
                <a style="color: inherit" href="#" data-toggle="tooltip" data-placement="top" title="Logout" data-popup-ordinal="1" {{ action 'invalidateSession' }}><i class="fa fa-sign-out"></i></a>
            </p>
        </li>
        {{/if}}
        <li>
            {{#link-to 'games' }} <i class="fa fa-dashboard"></i> Games{{/link-to}}
        </li>
        <li>
            {{#link-to '' }} <i class="fa fa-info-circle"></i> Help{{/link-to}}
        </li>
        <li>
            {{#link-to '' }} <i class="fa fa-wrench"></i> Settings{{/link-to}}
        </li>
        <li>
            {{#link-to '' }} <i class="fa fa-envelope"></i> Contact{{/link-to}}
        </li>
    </ul>

    <!-- /.side-nav -->
    </div>
    <!-- /.navbar-collapse -->
    </nav>


    <div id="page-wrapper">
        {{outlet}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="games">

<div class="page-content page-content-ease-in">

<!-- begin PAGE TITLE ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>Bitcoin Bingo
                <small>Games</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i>  {{#link-to 'games' }}Bitcoin Bingo{{/link-to}}
                </li>
                <li class="active">Games</li>
            </ol>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE ROW -->


<div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading dark-blue">
                <i class="fa fa-users fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content dark-blue">
                <div class="circle-tile-description text-faded">
                    Users
                </div>
                <div class="circle-tile-number text-faded">
                    43
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading green">
                <i class="fa fa-btc fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content green">
                <div class="circle-tile-description text-faded">
                    Total Wagered
                </div>
                <div class="circle-tile-number text-faded">
                    <i class="fa fa-btc"></i>1.23
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading blue">
                <i class="fa fa-tasks fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Games played
                </div>
                <div class="circle-tile-number text-faded">
                    10
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row">

    <!-- Basic Responsive Table -->
    <div class="col-lg-12">
        <div class="portlet portlet-orange">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Own games</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Card price</th>
                            <th>Maximum cards</th>
                            <th>Players</th>
                            <th>Prize Pool</th>
                            <th>Status</th>
                            <th>Join</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each}}
                            {{#if userParticipating}}
                            <tr>
                                <td>{{identifier}}</td>
                                <td>{{table.tableType}}</td>
                                <td>{{cardPrice}} mBTC</td>
                                <td>{{table.maximumCards}}</td>
                                <td>{{amountOfPlayers}}</td>
                                <td>{{prizePool}} mBTC</td>
                                <td>{{gameStatus}}</td>
                                <td>{{#link-to 'game' id class='btn btn-green'}}Join{{/link-to}}</td>
                            </tr>
                            {{/if}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.portlet -->
    </div>
    <!-- /.col-lg-6 -->

</div>

<div class="row">

    <!-- Basic Responsive Table -->
    <div class="col-lg-12">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Available games</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Card price</th>
                            <th>Maximum cards</th>
                            <th>Players</th>
                            <th>Prize Pool</th>
                            <th>Status</th>
                            <th>Join</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each}}
                            {{#if idle}}
                            <tr>
                                <td>{{identifier}}</td>
                                <td>{{table.tableType}}</td>
                                <td>{{cardPrice}} mBTC</td>
                                <td>{{table.maximumCards}}</td>
                                <td>{{amountOfPlayers}}</td>
                                <td>{{prizePool}} mBTC</td>
                                <td>{{gameStatus}}</td>
                                <td>{{#link-to 'game' id class='btn btn-green'}}Join{{/link-to}}</td>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.portlet -->
    </div>
    <!-- /.col-lg-6 -->

</div>

<div class="row">
        <!-- Basic Responsive Table -->
        <div class="col-lg-12">
            <div class="portlet portlet-orange">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>In progress games</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Type</th>
                                <th>Card price</th>
                                <th>Maximum cards</th>
                                <th>Players</th>
                                <th>Prize Pool</th>
                                <th>Status</th>
                                <th>Watch</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each}}
                            {{#if playing}}
                            <tr>
                                <td>{{identifier}}</td>
                                <td>{{table.tableType}}</td>
                                <td>{{cardPrice}} mBTC</td>
                                <td>{{table.maximumCards}}</td>
                                <td>{{amountOfPlayers}}</td>
                                <td>{{prizePool}} mBTC</td>
                                <td>{{gameStatus}}</td>
                                <td>{{#link-to 'game' id class='btn btn-orange'}}Watch{{/link-to}}</td>
                            </tr>
                            {{/if}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.portlet -->
        </div>
        <!-- /.col-lg-6 -->
</div>

</div>
<!-- /.page-content -->

</script>


<script type="text/x-handlebars" data-template-name="game">

    <div class="page-content page-content-ease-in">

        <!-- begin PAGE TITLE ROW -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h1>
                        Game
                        <small>{{id}}</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i> {{#link-to 'games' }}Bitcoin Bingo{{/link-to}}
                        </li>
                        <li class="active">Game</li>
                    </ol>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- end PAGE TITLE ROW -->

        <div class="row">
            <div id="h-latest-ball" data-container="body" data-toggle="popover" data-placement="left" data-content="Displays the latest drawn ball." class="col-sm-12 hide-outside">
                <div id="latest-ball" class="ball-start">
                    1
                </div>
            </div>
        </div>
        <div class="row">
            <div id="h-ball-history" data-container="body" data-toggle="popover" data-placement="left" data-content="Displays 10 last drawn bingo balls." class="col-sm-12 hide-outside">
                <div id="ball-history">
                </div>
            </div>
        </div>

        <div class="row drawn-numbers">
            <h3>Drawn numbers:</h3>
            <ul id="h-drawn-numbers" data-container="body" data-toggle="popover" data-placement="top" data-content="The numbers marked in RED have already been drawn." class="pagination">
                {{#each number in numbers itemController='number'}}
                    <li {{bind-attr class='isActive:active'}}><a>{{number.model}}</a></li>
                {{/each}}
            </ul>
        </div>

        {{outlet modal}}

        <div class="row">
            <div class="col-lg-12">
                {{#if errorMessage}}
                <div class="alert alert-danger">
                    <strong>Error:</strong> {{errorMessage}}
                </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                {{prizePool}} mBTC <br/>
                {{#if session.isAuthenticated}}
                    {{#if idle}}
                        <button class="btn btn-red btn-block ladda-button" data-style="expand-left" {{action 'buyCard'}}>
                            <span class="ladda-label">Buy Card</span> (<i class="fa fa-btc"></i>{{cardPrice}} mBTC)
                        </button>
                    {{else}}
                        <button class="btn btn-red btn-block disabled">Buy Card</button>
                    {{/if}}
                {{/if}}

                <button class="btn btn-red btn-block ladda-button" data-style="expand-left" {{action 'showWinnerModal'}}>
                    <span class="ladda-label">Show Winners</span>
                </button>
            </div>
            <div class="col-lg-6">
                <div id="cards">
                    <br>
                    {{#each bingoCard in ownBingoCards}}
                        <div class="col-sm-4">
                            <div class="table-responsive">
                                <span class="label label-primary">Card {{bingoCard.id}}</span>
                                <table class="table table-bordered table-card">
                                    <tbody>
                                    {{#each row in bingoCard.squares}}
                                    <tr>
                                        {{#each number in row itemController='number'}}
                                            {{#if number}}
                                                <td {{bind-attr class='isActive:active'}}>{{number.model}}</td>
                                            {{else}}
                                                <td>X</td>
                                            {{/if}}
                                        {{/each}}
                                    </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portlet portlet-default">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4><i class="fa fa-circle text-green"></i> Game specific chat</h4>
                        </div>
                        <div class="portlet-widgets">
                            <span class="divider"></span>
                            <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="chat" class="panel-collapse collapse in">
                        <div class="portlet-body chat-widget" style="overflow: hidden; width: auto; height: 300px;">
                            {{#each message in gameMessages}}
                                <p><strong>{{message.user}}</strong>: {{message.body}}</p>
                            {{/each}}
                        </div>
                        <div class="portlet-footer">
                            <div class="input-group">
                                {{input action='sendMessage' id='message' name='message' placeholder='Enter message' class='form-control' value=message}}
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success" {{action 'sendMessage'}}>Send</button>
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.page-content -->
</script>

<script type="text/x-handlebars" data-template-name="login">
    <div class="page-content page-content-ease-in">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h1>Bitcoin Bingo
                        <small>Login</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>{{#link-to 'games' }} <i class="fa fa-dashboard"></i> Bitcoin Bingo{{/link-to}}</li>
                        <li class="active">Login</li>
                    </ol>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="portlet portlet-green">
                    <div class="portlet-heading login-heading">
                        <div class="portlet-title">
                            <h4><strong>Login to Bitcoin Bingo!</strong></h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        {{#if errorMessage}}
                        <div class="alert alert-danger">
                            <strong>Login failed:</strong> {{errorMessage}}
                        </div>
                        {{/if}}
                        <form accept-charset="UTF-8" role="form" {{action 'authenticate' on='submit'}}>
                            <fieldset>
                                <div class="form-group">
                                    {{input id='identification' name='identification' placeholder='Enter Login' class='form-control' value=identification}}
                                </div>
                                <div class="form-group">
                                    {{input id='password' name='password' placeholder='Enter Password' class='form-control' type='password' value=password}}
                                </div>
                                <br>
                                <button type="submit" class="btn btn-default ladda-button" data-style="expand-left">
                                    <span class="ladda-label">Sign In</span>
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="register">
    <form {{action 'register' on='submit'}}>
        <div class="form-group">
            <label for="username">Username</label>
            {{input id='username' placeholder='Enter Username' class='form-control' value=username}}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{input id='email' placeholder='Enter Email' class='form-control' value=email}}
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            {{input id='password' placeholder='Enter Password' class='form-control' type='password' value=password}}
        </div>
    <button type="submit" class="btn btn-default">Create Your Account</button>
    </form>
</script>

<script type="text/x-handlebars" data-template-name="wallet">
    <div class="row">

        <!-- Basic Responsive Table -->
        <div class="col-lg-12">
            <div class="portlet portlet-orange">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>Deposits</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Amount</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each deposit in userDeposits}}
                            <tr>
                                <td>{{deposit.id}}</td>
                                <td>{{deposit.amount}}</td>
                                <td>{{deposit.depositType}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.portlet -->
        </div>
        <!-- /.col-lg-6 -->

    </div>
</script>

<script type="text/x-handlebars" data-template-name="winnerModal">
    <div class="modal-header">
        <button type="button" class="close" {{action close target="view"}}>&times;</button>
        <h3>We have a winner!</h3>
    </div>
    <div class="modal-body">
        {{#each winner in gameWinners}}
        <p>
            {{winner.user.username}}<br>
            {{winner.amount}}
        </p>
        {{/each}}
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" {{action close}}>Close</a>
    </div>
</script>


<script type="text/x-handlebars" data-template-name="modal_layout">
    <div class="modal-backdrop fade">&nbsp;</div>
    <div class="modal fade show" >
        <div class="modal-dialog">
            <div class="modal-content">
                {{yield}}
            </div>
        </div>
    </div>
</script>