<script type="text/x-handlebars">

    <nav class="navbar-top" role="navigation">

    <!-- begin BRAND HEADING -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
            <i class="fa fa-bars"></i> Menu
        </button>
        <!--<div class="navbar-brand">-->
            <!--<a href="index.html">Bitcoin Bingo</a>-->
        <!--</div>-->
    </div>
    <!-- end BRAND HEADING -->

    <div class="nav-top">

    <!-- begin LEFT SIDE WIDGETS -->
    <ul class="nav navbar-left">

    </ul>
    <!-- end LEFT SIDE WIDGETS -->

    <!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
    <ul class="nav navbar-right">

    <!-- begin ALERTS DROPDOWN -->
    <li class="dropdown">
        <a href="#" class="alerts-link dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell"></i>
            <span class="number">9</span><i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-scroll dropdown-alerts">

            <!-- Alerts Dropdown Heading -->
            <li class="dropdown-header">
                <i class="fa fa-bell"></i> 9 New Alerts
            </li>

            <!-- Alerts Dropdown Body - This is contained within a SlimScroll fixed height box. You can change the height using the SlimScroll jQuery features. -->
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><li id="alertScroll" style="overflow: hidden; width: auto; height: 200px;">
                <ul class="list-unstyled">

                </ul>
            </li><div class="slimScrollBar" style="background-color: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>

            <!-- Alerts Dropdown Footer -->
            <li class="dropdown-footer">
                <a href="#">View All Alerts</a>
            </li>

        </ul>
        <!-- /.dropdown-menu -->
    </li>
    <!-- /.dropdown -->
    <!-- end ALERTS DROPDOWN -->

    <!-- begin USER ACTIONS DROPDOWN -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#">
                    <i class="fa fa-gear"></i> Settings
                </a>
            </li>
            <li>
                <a class="logout_open" href="#logout">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </li>
        </ul>
        <!-- /.dropdown-menu -->
    </li>
    <!-- /.dropdown -->
    <!-- end USER ACTIONS DROPDOWN -->

    </ul>
    <!-- /.nav -->
    <!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

    </div>
    <!-- /.nav-top -->
    </nav>

    <nav class="navbar-side" role="navigation">
    <div class="navbar-collapse sidebar-collapse collapse">
    <ul id="side" class="nav navbar-nav side-nav">
        <li>
            {{#link-to 'games' }} <i class="fa fa-dashboard"></i> Games{{/link-to}}
        </li>
        <li>
            {{#link-to '' }} <i class="fa fa-info-circle"></i> Help{{/link-to}}
        </li>
        <li>
            {{#link-to '' }} <i class="fa fa-wrench"></i> Settings{{/link-to}}
        </li>
        <li>
            {{#link-to '' }} <i class="fa fa-envelope"></i> Contact{{/link-to}}
        </li>
    </ul>
    <!-- /.side-nav -->
    </div>
    <!-- /.navbar-collapse -->
    </nav>


    <div id="page-wrapper">
        {{outlet}}
    </div>
</script>

<script type="text/x-handlebars" data-template-name="games">

<div class="page-content page-content-ease-in">

<!-- begin PAGE TITLE ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-title">
            <h1>Bitcoin Bingo
                <small>Games</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-dashboard"></i>  {{#link-to 'games' }}Bitcoin Bingo{{/link-to}}
                </li>
                <li class="active">Games</li>
            </ol>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE ROW -->


<div class="row">
    <div class="col-lg-4 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading dark-blue">
                <i class="fa fa-users fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content dark-blue">
                <div class="circle-tile-description text-faded">
                    Users
                </div>
                <div class="circle-tile-number text-faded">
                    43
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading green">
                <i class="fa fa-btc fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content green">
                <div class="circle-tile-description text-faded">
                    Total Wagered
                </div>
                <div class="circle-tile-number text-faded">
                    <i class="fa fa-btc"></i>1.23
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div class="circle-tile">
            <div class="circle-tile-heading blue">
                <i class="fa fa-tasks fa-fw fa-3x"></i>
            </div>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Games played
                </div>
                <div class="circle-tile-number text-faded">
                    10
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row">

    <!-- Basic Responsive Table -->
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Available games</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Card price</th>
                            <th>Maximum cards</th>
                            <th>Players</th>
                            <th>Prize Pool</th>
                            <th>Status</th>
                            <th>Join</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each}}
                            {{#if idle}}
                            <tr>
                                <td>{{table.tableType}}</td>
                                <td>{{cardPrice}} mBTC</td>
                                <td>{{table.maximumCards}}</td>
                                <td></td>
                                <td>{{prizePool}} mBTC</td>
                                <td>{{gameStatus}}</td>
                                <td>{{#link-to 'game' id}}Join{{/link-to}}</td>
                            </tr>
                            {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.portlet -->
    </div>
    <!-- /.col-lg-6 -->

</div>

<div class="row">
        <!-- Basic Responsive Table -->
        <div class="col-lg-12">
            <div class="portlet portlet-default">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4>In progress games</h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Card price</th>
                                <th>Maximum cards</th>
                                <th>Players</th>
                                <th>Prize Pool</th>
                                <th>Status</th>
                                <th>Join</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each}}
                            {{#if playing}}
                            <tr>
                                <td>{{table.tableType}}</td>
                                <td>{{cardPrice}} mBTC</td>
                                <td>{{table.maximumCards}}</td>
                                <td></td>
                                <td>{{prizePool}} mBTC</td>
                                <td>{{gameStatus}}</td>
                                <td>{{#link-to 'game' id}}Join{{/link-to}}</td>
                            </tr>
                            {{/if}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.portlet -->
        </div>
        <!-- /.col-lg-6 -->
</div>

</div>
<!-- /.page-content -->

</script>


<script type="text/x-handlebars" data-template-name="game">

    <div class="page-content page-content-ease-in">

        <!-- begin PAGE TITLE ROW -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h1>
                        Game
                        <small>{{id}}</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i> {{#link-to 'games' }}Bitcoin Bingo{{/link-to}}
                        </li>
                        <li class="active">Game</li>
                    </ol>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- end PAGE TITLE ROW -->

        <div class="row">
            <div id="h-latest-ball" data-container="body" data-toggle="popover" data-placement="left" data-content="Displays the latest drawn ball." class="col-sm-12 hide-outside">
                <div id="latest-ball" class="ball-start">
                    1
                </div>
            </div>
        </div>
        <div class="row">
            <div id="h-ball-history" data-container="body" data-toggle="popover" data-placement="left" data-content="Displays 10 last drawn bingo balls." class="col-sm-12 hide-outside">
                <div id="ball-history">
                </div>
            </div>
        </div>

        <div class="row drawn-numbers">
            <h3>Drawn numbers:</h3>
            <ul id="h-drawn-numbers" data-container="body" data-toggle="popover" data-placement="top" data-content="The numbers marked in RED have already been drawn." class="pagination">
                <li data-number="1" class="number"><a>01</a></li>
                <li data-number="2" class="number"><a>02</a></li>
                <li data-number="3" class="number"><a>03</a></li>
                <li data-number="4" class="number"><a>04</a></li>
                <li data-number="5" class="number"><a>05</a></li>
                <li data-number="6" class="number"><a>06</a></li>
                <li data-number="7" class="number"><a>07</a></li>
                <li data-number="8" class="number"><a>08</a></li>
                <li data-number="9" class="number"><a>09</a></li>
                <li data-number="10" class="number"><a>10</a></li>
                <li data-number="11" class="number"><a>11</a></li>
                <li data-number="12" class="number"><a>12</a></li>
                <li data-number="13" class="number"><a>13</a></li>
                <li data-number="14" class="number"><a>14</a></li>
                <li data-number="15" class="number"><a>15</a></li>
                <li data-number="16" class="number"><a>16</a></li>
                <li data-number="17" class="number"><a>17</a></li>
                <li data-number="18" class="number"><a>18</a></li>
                <li data-number="19" class="number"><a>19</a></li>
                <li data-number="20" class="number"><a>20</a></li>
                <li data-number="21" class="number"><a>21</a></li>
                <li data-number="22" class="number"><a>22</a></li>
                <li data-number="23" class="number"><a>23</a></li>
                <li data-number="24" class="number"><a>24</a></li>
                <li data-number="25" class="number"><a>25</a></li>
                <li data-number="26" class="number"><a>26</a></li>
                <li data-number="27" class="number"><a>27</a></li>
                <li data-number="28" class="number"><a>28</a></li>
                <li data-number="29" class="number"><a>29</a></li>
                <li data-number="30" class="number"><a>30</a></li>
                <li data-number="31" class="number"><a>31</a></li>
                <li data-number="32" class="number"><a>32</a></li>
                <li data-number="33" class="number"><a>33</a></li>
                <li data-number="34" class="number"><a>34</a></li>
                <li data-number="35" class="number"><a>35</a></li>
                <li data-number="36" class="number"><a>36</a></li>
                <li data-number="37" class="number"><a>37</a></li>
                <li data-number="38" class="number"><a>38</a></li>
                <li data-number="39" class="number"><a>39</a></li>
                <li data-number="40" class="number"><a>40</a></li>
                <li data-number="41" class="number"><a>41</a></li>
                <li data-number="42" class="number"><a>42</a></li>
                <li data-number="43" class="number"><a>43</a></li>
                <li data-number="44" class="number"><a>44</a></li>
                <li data-number="45" class="number"><a>45</a></li>
                <li data-number="46" class="number"><a>46</a></li>
                <li data-number="47" class="number"><a>47</a></li>
                <li data-number="48" class="number"><a>48</a></li>
                <li data-number="49" class="number"><a>49</a></li>
                <li data-number="50" class="number"><a>50</a></li>
                <li data-number="51" class="number"><a>51</a></li>
                <li data-number="52" class="number"><a>52</a></li>
                <li data-number="53" class="number"><a>53</a></li>
                <li data-number="54" class="number"><a>54</a></li>
                <li data-number="55" class="number"><a>55</a></li>
                <li data-number="56" class="number"><a>56</a></li>
                <li data-number="57" class="number"><a>57</a></li>
                <li data-number="58" class="number"><a>58</a></li>
                <li data-number="59" class="number"><a>59</a></li>
                <li data-number="60" class="number"><a>60</a></li>
                <li data-number="61" class="number"><a>61</a></li>
                <li data-number="62" class="number"><a>62</a></li>
                <li data-number="63" class="number"><a>63</a></li>
                <li data-number="64" class="number"><a>64</a></li>
                <li data-number="65" class="number"><a>65</a></li>
                <li data-number="66" class="number"><a>66</a></li>
                <li data-number="67" class="number"><a>67</a></li>
                <li data-number="68" class="number"><a>68</a></li>
                <li data-number="69" class="number"><a>69</a></li>
                <li data-number="70" class="number"><a>70</a></li>
                <li data-number="71" class="number"><a>71</a></li>
                <li data-number="72" class="number"><a>72</a></li>
                <li data-number="73" class="number"><a>73</a></li>
                <li data-number="74" class="number"><a>74</a></li>
                <li data-number="75" class="number"><a>75</a></li>
            </ul>
        </div>
        <br>

        <div class="row">
            <div class="col-lg-2">
                Menu
            </div>
            <div class="col-lg-6">

                <div class="portlet portlet-default">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4>Bingo Cards</h4>
                        </div>
                        <div class="portlet-widgets">
                            <span class="divider"></span>
                            <a data-toggle="collapse" data-parent="#accordion" href="#cards"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="cards" class="panel-collapse collapse in">
                        <br>
                        {{#each bingoCard in ownBingoCards}}
                        <div class="col-sm-4"><span class="label label-primary">Card {{bingoCard.id}}</span>
                            <table class="table table-bordered table-card">
                                <tbody>
                                {{#each row in bingoCard.squares}}
                                <tr>
                                    {{#each number in row}}
                                    {{#if number}}
                                    <td class="number" data-number="{{number}}">{{number}}</td>
                                    {{else}}
                                    <td>X</td>
                                    {{/if}}
                                    {{/each}}
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portlet portlet-default">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4><i class="fa fa-circle text-green"></i> Game specific chat</h4>
                        </div>
                        <div class="portlet-widgets">
                            <span class="divider"></span>
                            <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="chat" class="panel-collapse collapse in">
                        <div class="portlet-body chat-widget" style="overflow: hidden; width: auto; height: 300px;">
                            <!-- chat messages here -->
                            <p> Test message</p>
                            <p> Test message</p>
                            <p> Test message</p>
                            <p> Test message</p>
                            <p> Test message</p>
                            <p> Test message</p>
                            <p> Test message</p>
                            <p> Test message</p>
                            <p> Test message</p>
                            <p> Test message</p>
                            <p> Test message</p>
                        </div>
                        <div class="portlet-footer">
                            <div class="input-group">
                                <input type="text" class="form-control"><span class="input-group-btn"><button type="button" class="btn btn-success">Send</button></span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.page-content -->


</script>