
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bitcoin Bingo</title>

    <!-- PACE LOAD BAR PLUGIN - This creates the subtle load bar effect at the top of the page. -->
    <link href="css/plugins/pace/pace.css" rel="stylesheet">
    <script src="js/plugins/pace/pace.js"></script>

    <!-- GLOBAL STYLES - Include these on every page. -->
    <link href="css/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    <link href="icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- THEME STYLES - Include these on every page. -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/ball-roll.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="wrapper">
<%- body %>
</div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery-1.10.2.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/handlebars-1.1.2.js"></script>
    <script src="/js/dependencies/ember-1.5.0.js"></script>
    <script src="/js/dependencies/ember-data.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/ember-data-sails-adapter.js"></script>
    <script src="/js/dependencies/ember-simple-auth.js"></script>
    <script src="/js/dependencies/layout.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/scripts/app.js"></script>
    <script src="/js/scripts/adapters/ApplicationAdapter.js"></script>
    <script src="/js/scripts/serializers/ApplicationSerializer.js"></script>
    <script src="/js/scripts/routes/ApplicationRoute.js"></script>
    <script src="/js/scripts/routes/GameRoute.js"></script>
    <script src="/js/scripts/routes/GamesRoute.js"></script>
    <script src="/js/scripts/routes/LoginRoute.js"></script>
    <script src="/js/scripts/models/BingoCardModel.js"></script>
    <script src="/js/scripts/models/DepositModel.js"></script>
    <script src="/js/scripts/models/GameModel.js"></script>
    <script src="/js/scripts/models/TableModel.js"></script>
    <script src="/js/scripts/models/UserModel.js"></script>
    <script src="/js/scripts/models/WinnerModel.js"></script>
    <script src="/js/scripts/models/WithdrawalModel.js"></script>
    <script src="/js/scripts/controllers/ApplicationController.js"></script>
    <script src="/js/scripts/controllers/CurrentUserController.js"></script>
    <script src="/js/scripts/controllers/GameController.js"></script>
    <script src="/js/scripts/controllers/GamesController.js"></script>
    <script src="/js/scripts/controllers/LoginController.js"></script>
    <script src="/js/scripts/views/GameView.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
