
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bitcoin Bingo</title>

    <!-- PACE LOAD BAR PLUGIN - This creates the subtle load bar effect at the top of the page. -->
    <link href="css/plugins/pace/pace.css" rel="stylesheet">
    <script src="js/plugins/pace/pace.js"></script>

    <!-- GLOBAL STYLES - Include these on every page. -->
    <link href="css/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    <link href="icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- THEME STYLES - Include these on every page. -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/ball-roll.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="wrapper">
<%- body %>
</div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery-1.10.2.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/handlebars-1.1.2.js"></script>
    <script src="/js/dependencies/ember-1.5.0.js"></script>
    <script src="/js/dependencies/ember-data.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/ember-data-sails-adapter.js"></script>
    <script src="/js/dependencies/ember-simple-auth.js"></script>
    <script src="/js/dependencies/layout.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/scripts/app.js"></script>
    <script src="/js/scripts/adapters/ApplicationAdapter.js"></script>
    <script src="/js/scripts/serializers/ApplicationSerializer.js"></script>
    <script src="/js/scripts/routes/ApplicationRoute.js"></script>
    <script src="/js/scripts/routes/GameRoute.js"></script>
    <script src="/js/scripts/routes/GamesRoute.js"></script>
    <script src="/js/scripts/routes/LoginRoute.js"></script>
    <script src="/js/scripts/models/BingoCardModel.js"></script>
    <script src="/js/scripts/models/DepositModel.js"></script>
    <script src="/js/scripts/models/GameModel.js"></script>
    <script src="/js/scripts/models/TableModel.js"></script>
    <script src="/js/scripts/models/UserModel.js"></script>
    <script src="/js/scripts/models/WinnerModel.js"></script>
    <script src="/js/scripts/models/WithdrawalModel.js"></script>
    <script src="/js/scripts/controllers/ApplicationController.js"></script>
    <script src="/js/scripts/controllers/CurrentUserController.js"></script>
    <script src="/js/scripts/controllers/GameController.js"></script>
    <script src="/js/scripts/controllers/GamesController.js"></script>
    <script src="/js/scripts/controllers/LoginController.js"></script>
    <script src="/js/flex.js"></script>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="/js/plugins/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="/js/plugins/bootstrap-timepicker/bootstrap-timepicker.js"></script>
    <script src="/js/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/js/plugins/bootstrap-tokenfield/affix.js"></script>
    <script src="/js/plugins/bootstrap-tokenfield/bootstrap-tokenfield.js"></script>
    <script src="/js/plugins/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>
    <script src="/js/plugins/bootstrap-tokenfield/scrollspy.js"></script>
    <script src="/js/plugins/bootstrap-tokenfield/typeahead.min.js"></script>
    <script src="/js/plugins/bootstrap/bootstrap.js"></script>
    <script src="/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/js/plugins/datatables/datatables-bs3.js"></script>
    <script src="/js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/js/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/js/plugins/daterangepicker/moment.js"></script>
    <script src="/js/plugins/dropzone/dropzone.js"></script>
    <script src="/js/plugins/dropzone/dropzone.min.js"></script>
    <script src="/js/plugins/easypiechart/jquery.easypiechart.js"></script>
    <script src="/js/plugins/easypiechart/jquery.easypiechart.min.js"></script>
    <script src="/js/plugins/flot/flot-demo-data.js"></script>
    <script src="/js/plugins/flot/jquery.flot.js"></script>
    <script src="/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/js/plugins/flot/jquery.flot.stack.js"></script>
    <script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/plugins/fullcalendar/fullcalendar.js"></script>
    <script src="/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="/js/plugins/fullcalendar/jquery-ui.custom.min.js"></script>
    <script src="/js/plugins/hisrc/hisrc.js"></script>
    <script src="/js/plugins/jvectormap/jquery-jvectormap-1.1.1.min.js"></script>
    <script src="/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/js/plugins/jvectormap/maps/jquery-jvectormap-us-lcc-en.js"></script>
    <script src="/js/plugins/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/plugins/ladda/ladda.js"></script>
    <script src="/js/plugins/ladda/ladda.min.js"></script>
    <script src="/js/plugins/ladda/spin.js"></script>
    <script src="/js/plugins/ladda/spin.min.js"></script>
    <script src="/js/plugins/messenger/messenger-theme-flat.js"></script>
    <script src="/js/plugins/messenger/messenger.js"></script>
    <script src="/js/plugins/messenger/messenger.min.js"></script>
    <script src="/js/plugins/moment/moment.min.js"></script>
    <script src="/js/plugins/morris/morris-demo-data.js"></script>
    <script src="/js/plugins/morris/morris.js"></script>
    <script src="/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/js/plugins/pace/pace.js"></script>
    <script src="/js/plugins/popupoverlay/defaults.js"></script>
    <script src="/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="/js/plugins/popupoverlay/logout.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/plugins/summernote/summernote.js"></script>
    <script src="/js/plugins/summernote/summernote.min.js"></script>
    <script src="/js/plugins/validate/jquery.validate.js"></script>
    <script src="/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <script src="/js/scripts/views/GameView.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
