<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bitcoin Bingo</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/ball-roll.css" rel="stylesheet">
</head>
<body>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery-1.10.2.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/handlebars-1.1.2.js"></script>
    <script src="/js/dependencies/ember-1.5.0.js"></script>
    <script src="/js/dependencies/ember-data.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/ember-data-sails-adapter.js"></script>
    <script src="/js/dependencies/ember-simple-auth.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/scripts/app.js"></script>
    <script src="/js/scripts/adapters/ApplicationAdapter.js"></script>
    <script src="/js/scripts/serializers/ApplicationSerializer.js"></script>
    <script src="/js/scripts/routes/ApplicationRoute.js"></script>
    <script src="/js/scripts/routes/GamesRoute.js"></script>
    <script src="/js/scripts/routes/LoginRoute.js"></script>
    <script src="/js/scripts/models/BingoCardModel.js"></script>
    <script src="/js/scripts/models/GameModel.js"></script>
    <script src="/js/scripts/models/TableModel.js"></script>
    <script src="/js/scripts/models/UserModel.js"></script>
    <script src="/js/scripts/controllers/GameController.js"></script>
    <script src="/js/scripts/controllers/GamesController.js"></script>
    <script src="/js/scripts/controllers/LoginController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
