<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Register on Coin Bingo</h5>
                </div>
                <div class="ibox-content">
                    <p><strong>CoinBingo</strong> is a 75-ball realtime multiplayer Bingo game where players can buy cards with Bitcoin. Just click on a game below to start! We only need a username</p>
                    <p>Don't want to register? {{#link-to 'games'}}Take a sneak peak now{{/link-to}}</p>
                    {{#if errorMessage}}
                    <div class="alert alert-danger animated bounce">
                        <strong>Registration failed:</strong> {{errorMessage}}
                    </div>
                    {{/if}}
                    <form accept-charset="UTF-8" role="form" >
                        <div class="form-group">
                            <label for="username">Username</label>
                            {{input id='username' name='username' placeholder='Username' class='form-control'
                            value=username}}
                        </div>
                        <button id="registerButton" type="submit" class="btn btn-success ladda-button disabled" disabled="disabled" data-style="expand-left" {{action 'register'}}>
                        <span class="ladda-label">Create your account</span>
                        </button>
                        <div class="pull-right">
                            {{#link-to 'login' class='btn btn-primary' }}Go To Login{{/link-to}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>