<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Register on Coin Bingo</h5>
                </div>
                <div class="ibox-content">
                    <p><strong>CoinBingo</strong> is a 75-ball realtime multiplayer Bingo game where players can buy cards with Bitcoin. Just click on a game below to start! We only need a username</p>
                    <p>Don't want to register? <a href="/">Take a sneak peak now</a></p>
                    <div ng-if="error" class="alert alert-danger animated bounce">
                        <strong>Registration failed:</strong> {{error}}
                    </div>
                    <form accept-charset="UTF-8" role="form" ng-submit="register()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class='form-control' data-ng-model="username" id="username" name="username" value="" autofocus/>
                        </div>
                        <button id="registerButton" type="submit" class="btn btn-success ladda-button" data-style="expand-left">
                            <span class="ladda-label">Create your account</span>
                        </button>
                        <div class="pull-right">
                            <a href="login" class='btn btn-primary'>Go to login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>